/*=========================== Reset setting ==================*/
body {
    font-family:  "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color:#2E2F42;
    line-height: 1.5;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
}

ul,
ol {
    list-style-type: none;
}

/*===================== Header ===================*/
.header__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header__logo span {
    color: #2e2f42;
}
.header__logo:hover {
    color: #404bbf;
}
.header__logo:focus {
    color: #404bbf;
}

.menu-header__item {
    font-weight: 500;
    letter-spacing: 0.02em
}

.menu-header__link:hover {
    color: #404bbf;
}
.menu-header__link:focus {
    color: #404bbf;
}

.header-contacts__item a:hover {
    color: #404bbf;
}
.header-contacts__item a:focus {
    color: #404bbf;
}

.menu-header__contacts {
    font-style: normal;
}

.header-contacts__item a {
    color: #434455;
    letter-spacing: 0.02em;
}

/*=================================== MAIN ======================*/

/*============================Solution=====================*/
.solution__btn {
    background-color: #4D5AE5;
    cursor: pointer;
}
.solution__btn:hover {
    background-color: #404BBF;
}
.solution__btn:focus {
    background-color: #404BBF;
}

